* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    
}


header {
    display: flex;
    flex-direction: column;
    background: #00C8FF;
    max-width: 100%;
    
}

h3 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

input,
button {
    cursor: pointer;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    padding: 18px 0px 48px 109px;
    max-width: 145px;
}

.header-input {
    background: #FFFFFF;
    border: 2px solid #F0F0F0;
    border-radius: 5px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
    width: 264px;
    height: 32px;
    position: absolute;
    
}

.header-lupa {
    position: relative;
    right: -237px;
    top: 7px;
}

.header-input-buscar {
    align-items: center;  
    margin: 0 auto;
    padding-bottom: 62px;
    padding-top: 26px;
    
}

.header-input::placeholder {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
    padding: 8px 12px;
}

.header-input-carrinho {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px; 
    padding: 28px 40px 26px 0px;
}

.header-container {
    display: flex;
    max-height: 76px;
    
}

.header-menu {
    display: flex;
    gap: 126px;
    padding-left: 109px;
    padding-bottom: 14px;
    border: 1px solid #C4C4C4;
}

.header-menu h3 {
    padding-top: 14px;

}

.header-arrow-home {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 128px;
    padding-top: 29px;
}

.header-arrow {
    display: flex;
}

.header-arrow-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #C4C4C4;
}

@media screen and (max-width: 860px) {
    .header-container {
        display: flex;
        justify-content: space-between;
    }

    .header-input-carrinho {
        padding-left: 170px
    }
    
}

@media screen and (min-width: 768px) {
    .header-nav {
        display: none
    }
}

@media screen and (max-width: 768px) {
    .header-container-flex {
        display: flex;

    }
    .header-text-entrar {
        display: none;
        
    }

    header {
        height: 139px;
    }

    .header-menu {
        display: none;
    }

    .header-carrrinho {
        display: flex;
        margin-top: -149px;
    }

    .header-container {
        padding-top: 31px;
        padding-left: 16px;
        padding-right: 24px;
        flex-direction: column;
    }

    .header-input {
        width: 375px;
        margin-left: 0;
        
    }

    .header-input-carrinho {
        padding: 0;
        
    }

    .header-logo {
        padding: 0;
        margin: 0 auto;
    }

    .header-input-buscar {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 0;
    }

    .header-arrow-home {
        padding-left: 16px;
    }

    .header-lupa {
        right: -165px;
        top: 1px;
    }
}




