
@font-face {
    font-family: Proxima Nova;
    src: url(../../../assets/fonts/Proxima\ Nova\ Font.otf);
}

form {
    max-width: 391px;
    margin-top: 33px;
}

input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #B9B7B7;
}

.form-col {
    position: relative;
    
}

.form-col label {
    display: flex;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #100D0E;
    padding-bottom: 4px;
    padding-top: 12px;

}

.form-col input {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #B9B7B7;
    background: #FFFFFF;
    border: 1px solid #100D0E;
    border-radius: 25px;
    padding: 11px 227px 10px 28px;
}

.form-check {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 21px 0 21px;
    font-family: 'Proxima Nova';
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #100D0E;
}

form button {
    width: 391.49px;
    height: 52.47px;
    left: 500px;
    top: 979px;
    background: #03BFFE;
    border-radius: 25px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    border: #03BFFE;
    margin-bottom: 117px;
}

button:hover {
    background-color: #03bffec7;
}

button:active {
    background-color: #09b2eafe;
}

.form-invalid {
    display: flex;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    color: red;
    position: absolute;
}

.form-col input.invalid {
    border: 1px solid red;
}
