

.input-news-container {
    justify-content: center;
    padding: 16px 0 16px;
    max-width: 475px;
    text-align: initial;
    margin: 0 auto;
    font-family: 'Roboto';
}

.input-news-title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    font-variant: small-caps;
    color: #303030;
}

.input-email {
    border-bottom: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
}

.input-button {
    display: flex;
    justify-content: center;
    gap: 7px;
}

input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
}

.input-button button {
    background: #00C8FF;
    border: #00C8FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding: 14px 40px;
    
}

button:hover {
    background-color: #03bffec5;
}

button:active {
    background-color: #09b2eafe;
}

.input-news {
    border-radius: 4px;
    width: 342px; 
    height: 42px;
    margin-top: 5px;
    padding: 13px 16px;
}

.icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
    top: 69px;
    position: relative;
    padding-right: 14px;
}
    
.icon-wrapper img {
    max-width: 37px;
}

@media screen and (max-width: 768px) {
    .input-news-container {
        margin: 21px 25px 103px 25px;
    }

    .input-button {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .input-news-title {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.05em;
        font-variant: small-caps;
        color: #303030;
    }

    .input-news {
        width: 326px;
        height: 50px;
        background: #FFFFFF;
        border: 1px solid #C4C4C4;
        margin-top: 12px;
    }

    .input-button button {
        width: 326px;
        height: 50px;
    }

    .input-email {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon-wrapper {
        top: 250px;
    }
    
}